<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiter Notifications</title>
</head>
<body>
    <h1>Waiter Notifications</h1>
    <div id="notifications"></div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var user_id = 1;
            var socket = new WebSocket('ws://127.0.0.1:8000/ws/waiter/' + user_id + '/');

            socket.onopen = function () {
                console.log("Connected to the socket");
            };

            socket.onmessage = function (message) {
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                var notificationsDiv = document.getElementById('notifications');

                // Если у нас есть массив уведомлений, отобразим их
                if (data.notifications) {
                    data.notifications.forEach(function(notification) {
                        var notificationElement = document.createElement('div');
                        notificationElement.innerText = notification.title + ": " + notification.description;
                        notificationsDiv.appendChild(notificationElement);
                    });
                }
            };

            socket.onclose = function () {
                console.log("Disconnected from the socket");
            };

            socket.onerror = function (error) {
                console.error("WebSocket encountered error: ", error.message, "Closing socket");
                socket.close();
            };
        });
    </script>
</body>
</html>